packaging_format = 2

id = "peertube"
name = "PeerTube"
description.en = "Federated video streaming platform"
description.fr = "Plateforme fédéralisé de diffusion vidéo"

version = "8.0.2~ynh1"

maintainers = [ ]

[upstream]
license = "AGPL-3.0-only"
website = "https://joinpeertube.org/fr"
demo = "http://peertube.cpy.re"
admindoc = "https://docs.joinpeertube.org"
code = "https://github.com/Chocobozzz/PeerTube"
cpe = "cpe:2.3:a:framasoft:peertube"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = "all"
multi_instance = false

ldap = true
sso = false

disk = "50M"
ram.build = "1G"
ram.runtime = "1G"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

[resources]
    [resources.sources.main]
    url = "https://github.com/Chocobozzz/PeerTube/releases/download/v8.0.2/peertube-v8.0.2.tar.xz"
    sha256 = "5a98d3ee85133dbfdfd3d4790dfd554b5a8570442f1b2e454e54864f0ab3166d"
    autoupdate.strategy = "latest_github_release"
    autoupdate.asset = "^peertube-v.*\\.tar\\.xz$"

    [resources.system_user]
    allow_email = true

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.data_dir]
    subdirs = ["storage"]
    group = "www-data:rx"

    [resources.permissions]
    main.url = "/"
    api.url = "/api"
    api.allowed = "visitors"
    api.auth_header = false
    api.show_tile = false
    api.protected = true

    [resources.ports]
    main.default = 8095
    rtmp.default = 1935
    rtmp.exposed = "TCP"

    [resources.apt]
    packages = "ffmpeg, postgresql, postgresql-contrib, redis-server"

    [resources.database]
    type = "postgresql"

    [resources.nodejs]
    version = "22"
