[Unit]
Description=PeerTube daemon

[Service]
Type=simple
Environment=NODE_ENV=production
User=__APP__
Group=__APP__
ExecStart=/usr/bin/npm start
WorkingDirectory=__FINALPATH__/
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=peertube
Restart=always

[Install]
WantedBy=multi-user.target
